.aboutContainer {
    display: flex;
    background-color: white;
    color: black;
    height: 100vh;
    padding: 100px 0 100px 0;

}

.aboutDescription {
    display: flex;
    flex-direction:column;
    justify-content: center;
    width: 55%;
    padding: 0 100px 0 100px;
}

.aboutDescription > h3 {
margin-bottom: 30px;
font-size: 20px;
}

.aboutDescription > p {
    line-height: 1.5;
}

.img {
    width:50%;
    height: 100%;
    display: flex;
    align-self: center;
    overflow: hidden;

}
.title {
    font-size: 265%;
    padding: 3%;
    text-decoration: underline;

}

.text {
    font-size: 200%;
}

@media only screen and (max-width: 960px) {
    .aboutContainer {
        flex-direction: column;
        padding: 0;
        height: auto;
    }
    .aboutDescription {
        width: 90%;
        margin: 0 auto;
        padding: 40px 20px 50px 20px;
    }
    .aboutDescription > h3 {
        font-size: 20px;
        text-align: center;
    }
    .img {
        width: 100%;
        margin-bottom: 50px;
    }
    .img > img {
        width:100%;
    }
}